extends base

block content
    main.main
        p#forgot-password-message Send us your email address using this form and we will email you your password reset link immediately. Click on that link once you see it. If you do not get an email from us, try again!
        .login-form#forgotPasswordForm
            h2.heading-secondary.ma-bt-lg Enter your email address
            form.form.form--forgot-password
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green.btn--forgot-password Submit