extends base

block content
    main.main
        .login-form#resetPasswordForm
            h2.heading-secondary.ma-bt-lg Reset Your Password
            form.form.form--reset-password
                .form__group.ma-bt-md
                    label.form__label(for='password') New Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm New Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green.btn--reset-password(data-reset-token=`${resetToken}`) Reset
            #forgotPassword
                a(href="/forgot-password")#forgotPasswordLink Forgot Password?