extends layout/base

block content
    h1#bookings-heading All Bookings 
    main.main 
        .card-container
            each booking in bookings
                .booking-card
                    h2.tourName Tour Name: #{booking.tour.name}
                    p.name Purchased By: #{booking.user.name}
                    .user-img
                        img(src=`/img/users/${booking.user.photo}`)
                    a.btn.btn--green#see-booking-details(href=`/bookings/${booking.id}`) See More